<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>   
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>
    <body id='login' style="justify-content: center; align-items: center;display: flex;">
        <div class="containter-fluid" style="margin:1vw;">
            <div class="form-group">
            <label for="usr">Prisijungimo vardas:</label>
            <input type="text" class="form-control" id="usr" v-model="username">
            </div>
           <div class="form-group">
            <label for="pwd">Slaptaodis:</label>
            <input type="password" class="form-control" id="pwd" v-model="password">
           </div>
          <button type="button" class="btn btn-default" id="loginreq" v-on:click="pass">Prisijungti</button>
        </div> 
        <script src="https://unpkg.com/vue@3"></script>
        <script src="login.js"></script>
    </body>
</html>